<div class="container">
    <div class="navHeadBar">
        <div class="logo">
            <h1 [routerLink]="['/main']">CharacFav</h1>
        </div>
        <div class="rightHead" id="rightHead">
            <span class="proFile">
                <img [src]="this.profileShow" alt="">
            </span>
            <span class="name">
                <h1>{{ this.nameShow }}</h1>
            </span>
            <input type="checkbox" id="checkbox4" class="checkbox4 visuallyHidden">
            <label for="checkbox4" id="selectShow" (click)="selectShow()">
                <div class="hamburger hamburger4">
                    <span class="bar bar1"></span>
                    <span class="bar bar2"></span>
                    <span class="bar bar3"></span>
                    <span class="bar bar4"></span>
                    <span class="bar bar5"></span>
                </div>
            </label>            
            <div class="containerSelect" id="containerSelect">
                <div class="select" id="select" (click)="selectClick($event)">
                    <h1><i class='bx bx-user'></i>Personality</h1>
                    <h1><i class='bx bx-lock-open'></i>Change password</h1>
                    <h1><i class='bx bx-image-alt'></i>Your picture</h1>
                <hr>
                    <h1><i class='bx bx-bar-chart-alt-2'></i>Ranks</h1>
                <hr>
                    <h1><i class='bx bx-log-out'></i>Log out</h1>
                </div>
            </div>
        </div>
    </div>
</div>