.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    & .body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 70%;

        & .proFile {
            user-select: none;
            
            & img {
                max-width: 512px;
                max-height: 512px;
            }
            & .button {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px 0 0 0;

                & button {
                    padding: 10px;
                    font-size: 28px;
                    font-weight: 500;
                    border-radius: 10px;
                    cursor: pointer;
                    background: rgb(59, 56, 56);
                    color: white;
                    transition: all 0.2s ease;
                    box-shadow: 3px 3px 2px rgb(255, 255, 255);
                }
                & button:hover {
                    background: rgb(71, 67, 67);
                }
                & button:active {
                    background: rgb(47, 44, 44);
                }
            }
        }

        & .proFileDetail {
            position: relative;
            width: 500px;
            
            & .head {
                display: flex;
                align-items: center;
                justify-content: space-between;

                & h1 {
                    color: rgb(0, 0, 0);
                    font-weight: 500;
                    font-size: 28px;
                    text-shadow: 1px 1px 0px rgb(255, 255, 255);
                    display: flex;
                    user-select: none;
                    align-items: center;
                    cursor: pointer;
                    transition: all 0.2s ease;
    
                    & .bx-chevron-left {
                        font-size: 38px;
                    }
                }
                & h1:hover {
                    transform: scale(1.02);
                    color: rgba(0, 0, 0, 0.8);
                }
                & h1:active {
                    color: rgba(0, 0, 0, 0.9);
                }
                
                & h2 {
                    font-size: 30px;
                    font-weight: 500;
                    margin: 0 6px 0 0;
                    color: rgba(0, 0, 0);
                    user-select: none;
                    text-shadow: 1px 1px 0px rgb(255, 255, 255);
                }
            }
            & hr {
                margin: 12px 0 30px 0;
                border: 1px solid rgb(0, 0, 0);
            }

            & .containerChangePassword {
                display: grid;
                grid-template-columns: max-content 1fr;
                align-items: center;
                column-gap: 0.70rem;
                border-bottom: 2px solid white;
                transition: all 0.3s ease;

                & .bx-lock-open {
                    position: relative;
                    font-size: 22px;
                    bottom: 2px;
                }
                & .bx-lock-alt {
                    position: relative;
                    font-size: 22px;
                    bottom: 2px;

                    & .bx-check {
                        position: absolute;
                        left: 1px;
                    }
                }

                & .changePasswordInput {
                    position: relative;

                    & .input {
                        width: 460px;
                        padding: 0.8rem 34px 0.8rem 0;
                        font-size: 22px;
                        font-weight: 500;
                        background: none;
                        color: rgb(255, 255, 255);
                        position: relative;
                        z-index: 1;
                        border: none;
                        outline: none;
                        text-shadow: 2px 2px 1px rgb(0, 0, 0);
                    }
                    & .input:focus + .label {
                        top: -12px;
                        font-size: 18px;
                    }
                    & .input:not(:placeholder-shown).input:not(:focus) + .label {
                        top: -12px;
                        font-size: 18px;
                    }

                    & .label {
                        position: absolute;
                        left: 0px;
                        top: 13px;
                        font-size: 16px;
                        font-weight: 500;
                        transition: top 0.3s, font-size 0.3s;
                    }
                    & .eye {
                        position: absolute;
                        right: 0;
                        top: 16px;
                        font-size: 20px;
                        z-index: 10;
                        cursor: pointer;
                        user-select: none;
                    }

                    & .warnicon {
                        position: absolute;
                        top: 14px;
                        right: 30px;
                        font-size: 20px;
                        font-weight: 600;
                        color: rgb(173, 31, 31);
                    }
                }
            }
            & .containerChangePassword.borderGreen {
                border-bottom: 2px solid green;
                animation: width 1.5s;
            }
            @keyframes width {
                from {width: 0;}
                to {width: 100%;}
            }

            & .recommendPassword {
                font-size: 18px;
                font-weight: 400;
                margin: 6px 0 20px 0;
                color: rgb(173, 31, 31);
            }

            & .button {
                display: flex;
                align-items: center;
                justify-content: right;
                position: relative;
                top: 20px;
                user-select: none;

                & button {
                    padding: 10px 12px;
                    font-size: 16px;
                    background: rgb(30, 100, 212);
                    color: white;
                    border: none;
                    border-radius: 6px;
                    box-shadow: 2px 2px 2px black;
                    cursor: pointer;
                    transition: all 0.1s ease;
                }
                & button:hover {
                    transform: scale(1.02);
                    background: rgba(30, 100, 212, 0.8);
                }
                & button:active {
                    transform: scale(1.03);
                    background: rgba(30, 100, 212, 0.9);
                }
            }

            & .warn {
                position: absolute;
                bottom: 10px;
                font-weight: 500;
                color: rgb(173, 31, 31);
            }
        }
    }
}