<app-header></app-header>

<div class="container">
    <div class="body">
        <div class="proFile">
            <img src="https://cdn-icons-png.flaticon.com/512/2919/2919906.png" alt="">
            <div class="button">
                <button>Change picture</button>
            </div>  
        </div>
        <div class="proFileDetail">
            <div class="head">
                <h1 [routerLink]="['/main/profile']"><i class='bx bx-chevron-left' ></i>Back profile</h1>
                <h2>Change Password</h2>
            </div>
        <hr>
            <div class="containerChangePassword" id="containerChangePassword">
                <i class='bx bx-lock-open' ></i>
                <div class="changePasswordInput">
                    <input #password (keyup)="onInputChange(password, confirmpassword)" type="password" class="input" id="changepassword" placeholder=" ">
                    <label for="changepassword" class="label">Enter your new password</label>
                    <i #eyeIcon class="ri-eye-off-line eye" id="eye"></i>
                    <p class="warnicon">{{ this.warnicon }}</p>
                </div>
            </div>
            <h2 class="recommendPassword">{{ this.recommend }}</h2>
            <div class="containerChangePassword" id="containerChangePassword2">
                <i class='bx bx-lock-alt' ><i class='bx bx-check'></i></i>
                <div class="changePasswordInput">
                    <input #confirmpassword (keyup)="onInputChange(password, confirmpassword)" type="password" class="input" id="confirmpassword" placeholder=" ">
                    <label for="confirmpassword" class="label">Confirm new password</label>
                    <i #eyeIcon2 class="ri-eye-off-line eye" id="eyeconfirm"></i>
                    <p class="warnicon">{{ this.warnicon2 }}</p>
                </div>
            </div>
            <div class="warn">
                <p>{{ this.warn }}</p>
             </div>

            <div class="button">
                <button type="submit">Change the password</button>
            </div>
        </div>
    </div>
</div>