* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSz-NbmsZ9gr44ft3QXLjzVudQiCJeUbV4p_A&usqp=CAU');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}